@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Lato&family=Montserrat:wght@500&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


}



/* nav */
header{
    font-family: 'lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px 10px; */
    /* background: #374957; */
    width: 9%;
    position: fixed;
    top: 20px;
    left: 10px;
    border-radius: 25px;
    transition: .4s;
    z-index: 100000000000;
}

header.sticky{
    top: 30px;
    padding: 3px 0px;
    background: #374957;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px hsla(195, 5%, 16%, 0.518);
    width: 7.5%;
    left: 46.5%;
}

button{
    /* margin-left: 20px; */
    padding: 9px 33px;
    background-color: #0087a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: azure;
    font-weight: 500;
    letter-spacing: 2px;
}

button:hover{
    transition: all 0.3s ease 0s;
    background-color: #374957;
    color: #0087a9;
}

.bacion{
    font-size: 40px;
    display: none;
}

/* body */

body{
    background: url(../Group\ 5.png);
    background-position: top center;
    background-attachment: fixed;
}

/* programming skill */
section.program{
    background: #252932;
    min-height: 100vh;
    display: flex;
    padding-top: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px 20px 20px 20px;
    margin: 10px 20px;
}

.skill-title{
    color: azure;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.skill{
    display: flex;
    width: 100%;
    /* padding: 0 50px; */
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.card{
    border-radius: 25px;
    background: #fff;
    width: 280px;
    margin: 20px 20px;
    align-items: center;
    overflow: hidden;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #0087a9;
    /* background-repeat: ; */
    border-radius: 25px 25px 0 25px;
    aspect-ratio: 1/1;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background: #292826;
}
.overlay::after{
    border-radius: 0 25px 0 0 ;
    background-color: #fff;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
    /* filter: grayscale(2); */
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #0087a9;
}

.skill-name{
    font-size: 18px;
    font-weight: 500;
    color: #374957;
    font-family: 'kavoon', cursive;
    z-index: 100;
}

.proses{
    width: 250px;
    height: 20px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #bebebe;
    margin: 14px;
}

.proses-bar{
    background-color: #0087a9;
    /* width: 87%; */
    height: 20px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-right: 5px;
    color: #fff;
}

.html{
    width: 87%;
}

.css{
   
    width: 47%;
    
}
.js{
    
    width: 32%;
    
}
.ux{
    
    width: 43%;
    
}
.py{
    
    width: 24%;
   
}
.fil{
    width: 30%;
}
.pt{
    width: 22%;
}
.pp{
    width: 20%;
}
.git{
    width: 27%;
}

section.app{
    background: #2e3440;
    padding-top: 10px                                                                                                                                                                                                                                                                                                                                                                   ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.lima{
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bungkus{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sosmed{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 30px 0;
    width: 500px;
}

.apaj{
    height: 50px;
    width: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: all .3s;
}

.ig:hover{
    background: url(../istockphoto-1330343437-170667a.jpg);
}
.fb:hover{
    background: rgb(12, 70, 204);
}
.yt:hover{
    background: rgb(225, 6, 6);
}
.gh:hover{
    background: rgb(0, 0, 0);
}

.apaj .icon{
    font-size: 35px;
    color: #292826;
}

.apaj:hover .icon{
    color: white;
}

.garis{
    margin: 0 20px;
    width: 90%;
}

.copyright{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 50px;
}

@media screen and (max-width:780px) {
    section.program{
        margin: 0;
    }
    header.sticky{
        left: 15%;
    }

    button{
        padding: 1px;
    }

    .back{display: none;}
    .bacion{display: block;}

    .card{
        width: 250px;
    }

    .proses{
        width: 230px;
    }
}

@media screen and (max-width:597px) {
    .card{
        width: 230px;
    }

    /* .card-image{
        width: 140px;
        height: 140px;
    } */

    .proses{
        width: 210px;
    }
}

@media screen and (max-width:557px) {
    .card{
        width: 210px;
    }
    .image-content{
        padding: 20px 0;
    }
    .proses{
        width: 190px;
        height: 18px;
    }
    .proses-bar{
        font-size: 14px;
    }
    .sosmed{width: 100%;}

}

@media screen and (max-width: 518px) {
    .card{
        width: 190px;
    }
    .skill-name{
        font-size: 16px;
    }
    .proses{
        width: 170px;
    }
}

@media screen and (max-width: 475px) {
    .card{
        width: 170px;
    }.card-image{
        height: 130px;
        width: 130px;
    }
    .proses{
        width: 150px;
        height: 16px;
        /* margin: 0 14px; */
    }
    .proses-bar{
        font-size: 12px;
    }
}

@media screen and (max-width: 420px) {
    .card{
        width: 150px;
    }.card-image{
        width: 120px;
        height: 120px;
    }
    .proses{
        width: 140px;
    }
}
@media screen and (max-width: 396px) {
    .card{
        width: 140px;
        margin: 10px;
    }.card-image{
        width: 120px;
        height: 120px;
    }
    .proses{
        width: 130px;
    }
}